*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    overflow-x: hidden;
}
.container{
    width: 100vw;
    height: 100vh;
}

.home-page{
    background-image: url("./images/backgorund.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    box-shadow: 0px 0px 25px 5px #654D97;
}

.refresh{
    background-image: url("./images/backgorund.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.refresh-head{
    font-size: 5.3rem;
    color:azure ;
    user-select: none;
    text-shadow: 2px 2px 10px #2f2f33;
}
.btn-white{
    background-color: fff;
    border: none;
    width: 200px;
    height: 40px;
    cursor: pointer;
    margin: 10px 0;
    color: #622773;
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 10px;
    box-shadow: 0px 0px 25px 5px #654D97;
}

.logo{
    position: absolute;
    top: -65px;
    left:0;
    width: 250px;
}

.heading-main{
    font-size: 5.3rem;
    color:azure ;
    user-select: none;
    transition: font-size 1s ease-in-out;
    text-shadow: 2px 2px 10px #2f2f33;
    

}
.heading-main:hover{
    font-size: 6rem;
}
.card-container{
    margin: 0 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    
    justify-content: space-around;
    
}
.card{
    max-height:900px;
    max-width: 400px;
    min-width: 300px;
    box-shadow: 0px 0px 10px 1px #654D97;
    margin-bottom: 50px;
    border-radius: 10px;
}
.location-img{
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px  0  0;
    
}
.tour-info{
    padding: 10px;
}
.tour-price{
    color: #4F3981;
    font-size: 1.2rem;
    font-weight: bold;

}
.tour-name{

    color:#2f2f33;
    font-size: 1.1rem;
    font-weight: bold;
}

.tour-description{
    color:#525259 ; 
    font-size: 1rem;  
}
.read-more{
    color: #622773;
    font-weight: 800;
    cursor: pointer;
}

.btn-purple{
    background-color: #622773;
    border: none;
    width: 100px;
    height: 30px;
    cursor: pointer;
    margin: 10px 0;
    color: #fff;
    border-radius: 10px;
}